.resultPage {
  background: #BCDBE6;
  height: 100vh;

  .title {
    color: #fff;
    padding-top: 48px;
    margin-bottom: 24px;
    text-align: center;
  }

  .subTitle {
    color: #fff;
    margin: 24px 48px;
  }

  .enterBtn {
    margin-top: 48px;
    width: 60vw; // 可视宽度
    min-width: 180px;
  }
}
